[user]
	name = Milan Malfait
	email = 38256462+milanmlft@users.noreply.github.com
	signingkey = 407EA34B4A27A1E7
[core]
	autocrlf = false
	safecrlf = true
	excludesfile = /Users/milan/.gitignore_global
[alias]
    co = checkout
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    unstage = reset HEAD --
    last = log -p -n 1
    ci = commit -v
    can = commit -v --amend --no-edit
    staash = stash --all
    bb = !better-git-branch.sh
    pushfwl = push --force-with-lease
[commit]
	template = /Users/milan/.stCommitMsg
	gpgsign = true
[push]
	default = current
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[filesystem "AdoptOpenJDK|1.8.0_232|/dev/disk1s2"]
	timestampResolution = 1001 milliseconds
	minRacyThreshold = 0 nanoseconds
[pull]
	rebase = false
[init]
	defaultBranch = main
[gpg]
	program = /opt/homebrew/bin/gpg
[maintenance]
	repo = /Users/milan/Projects/tech-socials
	repo = /Users/milan/Projects/UCLH-Foundry/PIXL
	repo = /Users/milan
	repo = /Users/milan/github/milanmlft
	repo = /Users/milan/Teaching/ClinicianCoders
	repo = /Users/milan/Projects/L2D/sandpaper
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
