[user]
	name = Milan Malfait
	email = 38256462+milanmlft@users.noreply.github.com
	signingkey = D629C4D8B5265214
[core]
	autocrlf = false
	safecrlf = true
	excludesfile = ~/.gitignore_global
	pager = delta
[alias]
	co = checkout
	sw = switch
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	unstage = restore --staged
	last = log -p -n 1
	ci = commit -v
	can = commit -v --amend --no-edit
	staash = stash --all
	pushfwl = push --force-with-lease
	rpo = remote prune origin
[commit]
	gpgsign = true
	verbose = true
[tag]
	gpgSign = true
	sort = version:refname
[gpg]
	program = gpg
[init]
	defaultBranch = main
[push]
	default = current
	autoSetupRemote = true
	followTags = true
[pull]
	rebase = false
[fetch]
	prune = true
	pruneTags = true
[merge]
	tool = nvimdiff
	conflictstyle = zdiff3
[diff]
	tool = nvimdiff
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[rerere]
	enabled = true
	autoupdate = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[help]
	autocorrect = prompt
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
	features = arctic-fox
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[include]
	path = ~/.config/delta/themes.gitconfig
	# machine-local, untracked (e.g. `git maintenance register --config-file ~/.gitconfig.local`)
	# keeps private repo paths out of the public repo
	path = ~/.gitconfig.local
